*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.App{
  --headerColor: #292929;
  --black: #000
}
.container{
  width: 100%;
  margin-left: 26px;
  margin-right: 27px


}
@media screen and (min-width: 769px){
  .container{
    margin-left: 77px;
    margin-right: 77px;
  }
}